<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nctai_trading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NCTAITrading">
        <activity android:name=".binanceSellPage"></activity>
        <activity android:name=".binanceBuyPage" />
        <activity android:name=".coinBaseProPage" />
        <activity android:name=".BinanceAccountDetails" />
        <activity android:name=".binancePage" />
        <activity android:name=".coinBaseKeys" />
        <activity android:name=".binanceKeys" />
        <activity android:name=".ARPage" />
        <activity android:name=".alternateInvestments" />
        <activity android:name=".donationPage" />
        <activity android:name=".signUpPage" />
        <activity android:name=".termsOfServicePage" />
        <activity android:name=".paymentOptionPage" />
        <activity android:name=".mainPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="sqip.SQUARE_APPLICATION_ID"
            android:value="sandbox-sq0idb-vVHsxOMaesiWlJdOpa7S5Q" />
    </application>

</manifest>